*{
  margin: 0;
  padding: 0;
  font-family: 'Handjet', cursive;
  font-family: 'Orbitron', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Tektur', cursive;
  font-family: 'Victor Mono', monospace;
  font-family: 'Quicksand', sans-serif;
}
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}